@page "/EventDetails/{id:guid}"

@using System.Security.Claims

<h1>EventDetails</h1>

<CascadingValue Value="@Id" Name="EventId">
    <EventDetailOverview></EventDetailOverview>
    <EventSubscriptionsTable></EventSubscriptionsTable>
    <EventRegistration></EventRegistration>
</CascadingValue>

@code {
    [Parameter]
    public Guid Id { get; set; }
}
