@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using EventService.Client.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IHttpClientFactory HttpClientFactory

@attribute [AllowAnonymous]

<PageTitle>EventService</PageTitle>

<h1>EventOverview</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventObject in _events)
        {
            <tr>
                <td>@eventObject.Name</td>
                <td>@eventObject.StartDate</td>
                <td>@eventObject.EndDate</td>
                <td>@eventObject.Description</td>
                <td><button class=@(_eventIdsOfUser.Contains(eventObject.Id) ? "btn btn-primary" : "btn btn-outline-primary") @onclick="() => NavigateToEventDetails(eventObject.Id)">Details</button></td>
            </tr>
        }
    </tbody>
</table>

<AuthorizeView Roles="admin">
    <Authorized>
        <button class="btn btn-primary"
                style=" position: fixed; bottom: 40px; right: 40px; font-size: large; font-weight: 600; border-radius: 50px; padding: 15px"
                @onclick="() => NavigateToCreateEvent()">
            Create Event
        </button>
    </Authorized>
</AuthorizeView>

@code {

    private IEnumerable<Event> _events = new List<Event>();
    private List<Guid> _eventIdsOfUser = new List<Guid>();

    protected override async Task OnInitializedAsync()
    {
        var publicHttp = HttpClientFactory.CreateClient("Public");
        _events = await publicHttp.GetFromJsonAsync<IEnumerable<Event>>(@"http://localhost/eventservice/api/Event") ?? new List<Event>();

        var user = (await GetAuthenticationStateAsync.GetAuthenticationStateAsync())?.User;
        await LoadSubscriptions(user);
    }

    private void NavigateToEventDetails(Guid id)
    {
        NavigationManager.NavigateTo($"EventDetails/{id}");
    }

    private void NavigateToCreateEvent()
    {
        NavigationManager.NavigateTo("CreateEvent");
    }

    private async Task LoadSubscriptions(ClaimsPrincipal? user)
    { 
        if (user != null && user.Identity!.IsAuthenticated && user.IsInRole("user"))
        {
            var eventSubscriptionOfRegisteredUser = await Http.GetFromJsonAsync<IEnumerable<EventSubscription>>($"http://localhost/eventservice/api/EventSubscription/GetByIdentity");

            if (eventSubscriptionOfRegisteredUser != null)
            {
                _eventIdsOfUser = eventSubscriptionOfRegisteredUser.Select(x => x.EventId).ToList();
            }
        }
    }
}
