@page "/"

@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager NavigationManager
@inject IEventService EventService

@attribute [AllowAnonymous]

<PageTitle>EventService</PageTitle>

<h1>EventOverview</h1>
<CascadingValue Value="@_events" Name="Events">
    <EventFilter EventsChanged="FilterHandler"></EventFilter>
    <EventTable></EventTable>
</CascadingValue>


<AuthorizeView Roles="admin">
    <Authorized>
        <button class="btn btn-primary"
                style=" position: fixed; bottom: 40px; right: 40px; font-size: large; font-weight: 600; border-radius: 50px; padding: 15px"
                @onclick="() => NavigateToCreateEvent()">
            Create Event
        </button>
    </Authorized>
</AuthorizeView>

@code {

    private IEnumerable<Event> _events = new List<Event>();

    protected override async Task OnInitializedAsync()
    {
        _events = await EventService.GetEvents();
    }

    private void NavigateToCreateEvent()
    {
        NavigationManager.NavigateTo("CreateEvent");
    }

    private void FilterHandler(IEnumerable<Event> events)
    {
        _events = events;
    }
}
