@page "/"

<PageTitle>EventService</PageTitle>
<ul>
    <li>
        <a href="/weather">
            Test Site
        </a>
    </li>

    <li>
        <a href="/user">
            User
        </a>
    </li>
</ul>

