@using Microsoft.AspNetCore.Components.Authorization
@inject IEventService EventService
@inject NavigationManager Navigation

<AuthorizeView Roles="admin">
    <button class="btn btn-outline-primary" type="submit">Aktualisieren</button>
    <button class="btn btn-outline-primary" type="reset" @onclick="DeleteEvent">Löschen</button>
</AuthorizeView>


@code {
    [CascadingParameter(Name = "EventId")]
    public Guid Id { get; set; }

    private async Task DeleteEvent()
    {
        await EventService.DeleteEvent(Id);
        Navigation.NavigateTo("/");
    }
}
