@inject NavigationManager NavigationManager
@inject IEventService EventService

<button class=@(EventIdsOfUser.Contains(EventId) ? "btn btn-primary" : "btn btn-outline-primary") 
@onclick="() => NavigateToEventDetails(EventId)">
Details
</button>

@code {
    [Parameter]
    public Guid EventId { get; set; }
    [Parameter]
    public List<Guid> EventIdsOfUser { get; set; } = new List<Guid>();

    private void NavigateToEventDetails(Guid id)
    {
        NavigationManager.NavigateTo($"EventDetails/{id}");
    }
}
