@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <button class="btn btn-primary" @onclick="() => OpenProfile()">Show Profile</button>
                <button class="btn btn-outline-primary" @onclick="BeginSignOut">Log out</button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <button class="btn btn-primary" @onclick="BeginSignIn">Log in</button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }

    private void BeginSignIn(MouseEventArgs args)
    {
        Navigation.NavigateToLogin("authentication/login");
    }

    private void OpenProfile()
    {
        Navigation.NavigateTo("http://localhost:8080/realms/EventPlatform/account/#/personal-info");
    }
}