@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

@attribute [AllowAnonymous]

<div style="display: flex; justify-content: space-between; align-items: center;">
    <AuthorizeView Roles="admin">
        <button class="btn btn-outline-primary" @onclick="OpenUserSettings">View Users</button>
    </AuthorizeView>
    <AuthorizeView>
        <Authorized>
            <button class="btn btn-primary" @onclick="() => OpenProfile()">Show Profile</button>
            <button class="btn btn-outline-primary" @onclick="BeginSignOut">Log out</button>
        </Authorized>
        <NotAuthorized>
            <button class="btn btn-primary" @onclick="BeginSignIn">Log in</button>
        </NotAuthorized>
    </AuthorizeView>
</div>
@code {
    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }

    private void BeginSignIn(MouseEventArgs args)
    {
        Navigation.NavigateToLogin("authentication/login");
    }

    private void OpenProfile()
    {
        Navigation.NavigateTo("http://localhost/realms/EventPlatform/account/#/personal-info", true);
    }

    private void OpenUserSettings()
    {
        Navigation.NavigateTo("http://localhost/admin/EventPlatform/console/#/EventPlatform/users", true);
    }
}
