@page "/ErrorPages/ErrorPage"
@inject NavigationManager NavigationManager

<p>@errorMessage</p>
<button @onclick="GoToMainPage">Back to Homepage</button>


@code {
    private string errorMessage = string.Empty;

    protected override void OnInitialized()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParameters = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        errorMessage = queryParameters.TryGetValue("message", out var message) ? message.ToString() : "An error occurred.";
    }

    private void GoToMainPage()
    {
        NavigationManager.NavigateTo("/");
    }
}