@using EventService.Client.Pages
@using EventService.Client.Shared

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a style="font-size: x-large; font-weight:700">EventPlatform</a>
        <LogoutComponent />
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
